*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    --font-size: 16px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --blue: #314158;
    --red: rgb(153, 0, 0);
    --light-red: rgba(153, 0, 0, 0.2);
    --darker-white: oklch(98.4% 0.003 247.858);
    margin: 0;
    list-style: none;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--blue);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

:root {
    scroll-behavior: smooth;
    --header-h: 80px;
}

section[id] {
    scroll-margin-top: calc(var(--header-h) + 16px);
}

#root,
#__next {
    isolation: isolate;
}

/* RESET CSS */

/* GLOBAL CSS */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10rem;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-image {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    border-radius: 5px;
}

.logo h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 2rem;
}

.header-button {
    display: flex;
    align-items: center;
}

.contact-button,
.call-button {
    padding: .75rem 1rem;
    border-radius: 5px;
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}

.contact-button:hover {
    background-color: rgb(122, 0, 0);
}

.call-button {
    background-color: #fff;
    color: var(--blue);
}

/* Section Hero */

#hero {
    isolation: isolate;
    background-size: cover;
    background-position: center;
    height: 35rem;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#slider {
    position: absolute;
    display: flex;
    z-index: -1;
    animation: slide-right 30s steps(6, end) infinite;
}

#slider li,
#slider li img {
    height: 35rem;
    width: 100vw;
}

#slider li img {
    object-fit: cover;
}

@keyframes slide-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.hero-infos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 10%;
    color: #fff;
    background-color: rgba(49, 65, 88, 0.85);
}

.hero-infos h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

.hero-infos p {
    font-size: 1.25rem;
    max-width: 40rem;
    color: rgba(255, 255, 255, 0.8);
}

.hero-infos a {
    padding: .75rem 1.5rem;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

/* SERVICES */

#services {
    padding: 3rem 10%;
}

#services-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

#services-description {
    text-align: center;
    margin: 0 auto 3rem auto;
    color: rgba(49, 65, 88, 0.8);
}

#services-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
    border-radius: .625rem;
    width: 20rem;
    text-align: center;
    background-color: var(--darker-white);
    transition: box-shadow 0.3s ease;
}

.services-item:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#services-list .top {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    min-height: 3rem;
}

#services-list .right {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#services-list .right h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .25rem;
    line-height: 1;
}

#services-list .right p {
    color: rgba(49, 65, 88, 0.8);
    font-size: 0.95rem;
    line-height: 1.4;
}

#services-list hr {
    border: none;
    border-top: 1px solid rgba(49, 65, 88, 0.1);
    margin: .25rem 0;
    width: 100%;
}

.services-icon {
    height: 3.5rem;
    width: 3.5rem;
    padding: .75rem;
    margin-bottom: .5rem;
    background-color: var(--light-red);
    border-radius: 10px;
    color: var(--red);
}

.services-item-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.services-item-detail {
    display: flex;
    gap: .5rem;
}

.services-item-detail .check-icon {
    margin-top: .3rem;
    width: 10%;
    color: var(--red);
}

.right-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    text-align: left;
}

.right-item h4 {
    font-size: 1.125rem;
    font-weight: 500;
}

.right-item p {
    color: rgba(49, 65, 88, 0.8);
    font-size: 0.95rem;
    line-height: 1.4;
}

/* SECTION WHY-US */

#why-us {
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 65, 88, 0.05);
    padding: 3rem 10%;
}

#why-us-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

#why-us-description {
    text-align: center;
    margin: 0 auto 3rem auto;
    color: rgba(49, 65, 88, 0.8);
    max-width: 40rem;
}

.why-us-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.why-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    padding: 1rem;
    border-radius: .625rem;
    width: 20rem;
    text-align: center;
}

.why-us-icon {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    margin-bottom: .5rem;
    background-color: var(--light-red);
    border-radius: 50%;
    color: var(--red);
}

.why-us-item h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.why-us-item p {
    color: rgba(49, 65, 88, 0.8);
}

/* Section Zone d'intervention */

#zone {
    display: flex;
    padding: 3rem 10%;
    gap: 3rem;
}

#zone-left,
#zone-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#zone-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

#zone-description {
    color: rgba(49, 65, 88, 0.8);
    margin-bottom: 2rem;
}

.zone-list-item {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.check-icon {
    height: 1.25rem;
    width: 1.25rem;
    color: var(--red);
}

.map {
    height: 420px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .08);
    z-index: 0;
}

/* Section avis clients */

#reviews {
    padding: 3rem 10%;
    background-color: rgba(49, 65, 88, 0.05);
}

#reviews-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

#reviews-description {
    text-align: center;
    margin: 0 auto 3rem auto;
    color: rgba(49, 65, 88, 0.8);
}

.disclaimer {
    text-align: center;
    color: rgba(49, 65, 88, 0.6);
    margin-bottom: 2rem;
}

#reviews-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.review-item {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .625rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* rendre l'élément flou */
    filter: blur(4px);
    opacity: .6;
}

.review-item hr {
    border: none;
    border-top: 1px solid rgba(49, 65, 88, 0.1);
    margin-top: auto;
}

.stars {
    display: flex;
    gap: .05rem;
}

.star-icon {
    color: var(--red);
    height: 1.25rem;
    width: 1.25rem;
}

.review-text {
    color: rgba(49, 65, 88, 0.9);
    font-size: 0.95rem;
    line-height: 1.4;
    font-style: italic;
}

.review-author-location {
    color: rgba(49, 65, 88, 0.6);
    font-size: 0.85rem;
}

/* Section CTA */

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10%;
    gap: 1rem;
    background-color: var(--red);
}

#cta-title {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

#cta-description {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 40rem;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

#cta .contact-button,
#cta .call-button {
    padding: .75rem 2rem;
}

#cta .contact-button {
    background-color: #fff;
    color: var(--red);
}

#cta .contact-button:hover {
    background-color: rgb(230, 230, 230);
}

#cta .call-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    gap: .5rem;
}

.call-icon,
.footer-icon {
    height: 1.25rem;
    width: 1.25rem;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2rem 10%;
    font-size: 0.9rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 20rem;
    line-height: 1.3;
}

.footer-section h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-contact a,
.footer-contact-section .location {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.footer-contact-section {
    display: flex;
    gap: .7rem;
}

.footer-contact-section svg {
    margin-top: .15rem;
}

#footer .text {
    color: rgba(255, 255, 255, 0.8);
}

.footer-zone-list li {
    list-style-type: circle;
    margin-left: .8rem;
    color: rgba(255, 255, 255, 0.8);
}

#footer hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 1rem 2rem;
}

.footer-credit {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.85rem;
    padding-bottom: 1rem;
}

/* Badge Garantie */

.floating-badge {
    height: 3.5rem;
    width: 3.5rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    padding: .5rem 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: #fff;
    border-radius: 20rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: max-width 0.3s ease;
}

.floating-badge:hover {
    width: unset;
    padding: .5rem 1.5rem .5rem O;
}

.floating-badge:hover .floating-badge__content {
    display: flex;
}

.floating-badge__content {
    flex-direction: column;
    display: none
}

.badge-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--red);
}

/* =========================
   7. Contact
========================= */

#contact-page {
    background-color: var(--darker-white);
}

#contact-header {
    padding: 3rem 10%;
    text-align: center;
    margin-bottom: .5rem;
}

#contact-header h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

#contact-header p {
    color: rgba(49, 65, 88, 0.8);
}

#form-contact {
    display: flex;
    margin: 0 10%;
}

#contact-form {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact-form h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

#contact-form p {
    color: rgba(49, 65, 88, 0.8);
    margin-bottom: 2rem;
}

#devis-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#devis-form input,
#devis-form textarea {
    border: 1px solid rgba(49, 65, 88, 0.3);
    border-radius: 10px;
    padding: .7rem;
    margin-bottom: 1.5rem;
}

#devis-form #project-details {
    min-height: 10rem;
}

.submit-button {
    padding: .75rem 1.5rem;
    border-radius: 10px;
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.send-icon {
    height: 1.25rem;
    width: 1.25rem;
}

#contact-infos {
    position: sticky;
    top: calc(var(--header-h) + 2rem);
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 1rem;
    background-color: var(--blue);
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact-infos h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

#contact-infos p {
    color: rgba(255, 255, 255, 0.8);
}

.contact-infos-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-infos .contact-info-item {
    display: flex;
    align-items: start;
    gap: .5rem;
}

#contact-infos .contact-icon {
    margin-top: .2rem;
    width: 5%;
    color: #fff;
}

#contact-infos .text {
    display: flex;
    flex-direction: column;
}

#contact-infos hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: .5rem 0;
}

#contact-infos .more-infos-text {
    color: rgba(255, 255, 255, 1);
    margin-bottom: .2rem;
}

#contact-page footer {
    margin-top: 3rem;
}