*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    --font-size: 16px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --blue: #314158;
    --red: rgb(153, 0, 0);
    --light-red: rgba(153, 0, 0, 0.2);
    margin: 0;
    list-style: none;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--blue);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

/* RESET CSS */

/* GLOBAL CSS */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-image {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    border-radius: 5px;
}

.logo h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 2rem;
}

.header-button {
    display: flex;
    align-items: center;
}

.contact-button,
.call-button {
    padding: .75rem 1rem;
    border-radius: 5px;
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}

.contact-button:hover {
    background-color: rgb(122, 0, 0);
}

.call-button {
    background-color: #fff;
    color: var(--blue);
}

#hero {
    background-image: url('/src/assets/hero-bg.jpeg');
    background-size: cover;
    background-position: center;
    height: 25rem;
}

.hero-infos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 10%;
    color: #fff;
    background-color: rgba(49, 65, 88, 0.85);
}

.hero-infos h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

.hero-infos p {
    font-size: 1.25rem;
    max-width: 40rem;
    color: rgba(255, 255, 255, 0.8);
}

.hero-infos a {
    padding: .75rem 1.5rem;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

/* SERVICES */

#services {
    padding: 3rem 10%;
}

#services-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

#services-description {
    text-align: center;
    margin: 0 auto 3rem auto;
    color: rgba(49, 65, 88, 0.8);
}

.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    border-radius: .625rem;
    border: 1px solid rgba(49, 65, 88, 0.2);
    transition: box-shadow 0.2s ease;
    width: 23rem;
}

.service-item h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.service-item:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-icon {
    font-size: 2rem;
    line-height: 1.2;
    object-fit: contain;
    margin-bottom: .2rem;
}

/* SECTION WHY-US */

#why-us {
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 65, 88, 0.05);
    padding: 3rem 10%;
}

#why-us-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

#why-us-description {
    text-align: center;
    margin: 0 auto 3rem auto;
    color: rgba(49, 65, 88, 0.8);
    max-width: 40rem;
}

.why-us-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.why-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    padding: 1rem;
    border-radius: .625rem;
    width: 20rem;
    text-align: center;
}

.why-us-icon {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    margin-bottom: .5rem;
    background-color: var(--light-red);
    border-radius: 50%;
    color: var(--red);
}

.why-us-item h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.why-us-item p {
    color: rgba(49, 65, 88, 0.8);
}